{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Rover</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto expedita reprehenderit eius cum ut! Dignissimos sapiente magnam ut odit consequuntur possimus provident dolor, ab natus nihil, est rem eum explicabo?
            </p>
        </div>

        <div class="col-4">
            <img src="/assets/img/rover.png" class="img-thumbnail">
        </div>
    </div>


{{> footer }}